In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [7]:
#Separate the columns in the dataframe. I really wanted to be able to 
#visualize my data in an organized way
renamed_data_df = school_data_complete.rename(columns={
"school_name": "School Name",
"type": "School Type",
"budget": "Total Budget",
"reading_score": "Reading Score",
"math_score": "Math Score",
"student_name": "Student Name",
"gender": "Gender",
"grade": "Grade",
"size": "Size"})
renamed_data_df

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,School Type,Size,Total Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [8]:
#Perform calculations
#Total schools
total_schools = school_data["school_name"].count()
total_schools

15

In [9]:
#Total number of students
total_students = school_data["size"].sum()
total_students

39170

In [10]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [11]:
#Average math score
math_avg = student_data["math_score"].mean()
math_avg

78.98537145774827

In [12]:
#Average readings score
reading_avg = student_data["reading_score"].mean()
reading_avg

81.87784018381414

In [13]:
#Passing Math (The percentage of students that passed math.)
math_pass_tot = student_data["math_score"].loc[student_data["math_score"] >=70].count() 
math_pass_rate = (math_pass_tot/total_students)*100
math_pass_rate

74.9808526933878

In [14]:
#Passing Reading (The percentage of students that passed reading.)
read_pass_tot = student_data["reading_score"].loc[student_data["reading_score"] >=70].count()
read_pass_rate = (read_pass_tot/total_students)*100
read_pass_rate

85.80546336482001

In [16]:
#Overall Passing (The percentage of students that passed math and reading.)
math_read_pass_rate = student_data.loc[(student_data["reading_score"] >=70) & (student_data["math_score"] >=70),:].mean()
math_read_pass_rate

Student ID       19586.574663
reading_score       84.457028
math_score          84.455892
dtype: float64

In [25]:
#Rename headers and create summary table
summary_table_df = school_data_complete.groupby("school_name")

renamed_data_df = pd.DataFrame(
{"School Name": total_schools,
"School Type": school_type,
"Total Budget": total_budget,
"Reading Score": reading_avg,
"Math Score": math_avg,
"Student Name": student_name,
"Gender": gender,
"Grade": grade,
"Size": size})
renamed_data_df

NameError: name 'school_type' is not defined

In [20]:
#School Summary
#Create an overview table that summarizes key metrics about 
#each school, including:
#School Name

hs_name_df = pd.DataFrame.student_data["school_name"].unique()
hs_name_df

AttributeError: type object 'DataFrame' has no attribute 'student_data'

In [18]:
#School Type
school_type = student_data["type"]
school_type

KeyError: 'type'

In [ ]:
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math (The percentage of students that passed math.)
% Passing Reading (The percentage of students that passed reading.)
% Overall Passing (The percentage of students that passed math and reading.