In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [7]:
#1a) Create a school count table
school = ["school_name"]
school
school_data_df.loc[:, school]

              school_name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [8]:
#1b) Count each school in the newly created dataframe
total_schools = school_data_df["school_name"].count()
total_schools

15

In [9]:
#2a) Create a df listing all of the unique student names
students = ["student_name"]
students
student_data_df.loc[:, students]

            student_name
0           Paul Bradley
1           Victor Smith
2        Kevin Rodriguez
3      Dr. Richard Scott
4             Bonnie Ray
...                  ...
39165       Donna Howard
39166          Dawn Bell
39167     Rebecca Tanner
39168       Desiree Kidd
39169    Carolyn Jackson

[39170 rows x 1 columns]

In [10]:
#2b) Total number of students
total_students = school_data_df["size"].sum()
total_students

39170

In [11]:
#3a) Create a df for the budgets of each school
budgets = ["budget"]
budgets
school_data_df.loc[:, budgets]

     budget
0   1910635
1   1884411
2   1056600
3   3022020
4    917500
5   1319574
6   1081356
7   3124928
8    248087
9    585858
10  1049400
11  2547363
12  3094650
13  1763916
14  1043130

In [12]:
#3b) Calculate total school budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [13]:
#4a) Create table of the math scores
math_scores = ["math_score"]
math_scores
student_data_df.loc[:, math_scores]

       math_score
0              79
1              61
2              60
3              58
4              84
...           ...
39165          90
39166          70
39167          84
39168          90
39169          75

[39170 rows x 1 columns]

In [14]:
#4b) Calculate the average math score
math_avg = student_data_df["math_score"].mean()
math_avg

78.98537145774827

In [15]:
#5a) Created a table of the reading scores
reading_scores = ["reading_score"]
reading_scores
student_data_df.loc[:, reading_scores]

       reading_score
0                 66
1                 94
2                 90
3                 67
4                 97
...              ...
39165             99
39166             95
39167             73
39168             99
39169             95

[39170 rows x 1 columns]

In [16]:
#5b) Average readings score
reading_avg = student_data_df["reading_score"].mean()
reading_avg

81.87784018381414

In [17]:
#6a) Create a tables of students who passed math
math_pass = ["math_score"]
math_pass
student_data_df.loc[:, math_pass] >=70

       math_score
0            True
1           False
2           False
3           False
4            True
...           ...
39165        True
39166        True
39167        True
39168        True
39169        True

[39170 rows x 1 columns]

In [18]:
#6b) Passing Math (The percentage of students that passed math.)
math_pass_tot = student_data_df["math_score"].loc[student_data_df["math_score"] >=70].count() 
math_pass_rate = (math_pass_tot/total_students)*100
math_pass_rate

74.9808526933878

In [19]:
#7a) Create a table of students who passed reading
read_pass = ["reading_score"]
read_pass
student_data_df.loc[:, read_pass] >=70

       reading_score
0              False
1               True
2               True
3              False
4               True
...              ...
39165           True
39166           True
39167           True
39168           True
39169           True

[39170 rows x 1 columns]

In [20]:
#7b) Passing Reading (The percentage of students that passed reading.)
read_pass_tot = student_data_df["reading_score"].loc[student_data_df["reading_score"] >=70].count()
read_pass_rate = (read_pass_tot/total_students)*100
read_pass_rate

85.80546336482001

In [21]:
#8a) Create a table of students who passed math AND reading
math_read_pass_df = ["math_score","reading_score"]
math_read_pass_df
student_data_df.loc[(student_data_df["reading_score"] >=70) & (student_data_df["math_score"] >=70)]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [22]:
#8b) Overall Passing (The percentage of students that passed math and reading.)
#Split into two -- math pass rate and read pass rate
math_read_pass_rate_tot = student_data_df[(student_data_df["reading_score"] >=70) & (student_data_df["math_score"] >=70)]['Student ID'].count()/total_students*100
math_read_pass_rate_tot

65.17232575950983

In [23]:
# Create dataframe to hold Summary Table #1
summary_table_1 = pd.DataFrame(
    {"Total Schools":[total_schools],
     "Total Students": f"{total_students:,}",
     "Total Budget": f"${total_budget:,.2f}",
     "Average Math Score": f"{math_avg:,.2f}",
     "Average Reading Score": f"{reading_avg:.2f}",
     "% Passing Math": f"{math_pass_rate:.2f}",
     "% Passing Reading": f"{read_pass_rate:.2f}",
     "% Overall Passing": f"{math_read_pass_rate_tot: .2f}",})
    
summary_table_1

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [24]:
school_mean_df = school_data_complete.groupby("school_name").agg({'math_score':'mean', 'reading_score':'mean'}).rename(columns={'reading_score':'average_reading_score','math_score':'average_math_score'})
school_mean_df

                       average_math_score  average_reading_score
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

In [25]:
#Part 2 - School Summary
#Create an overview table that summarizes key metrics about 
#each school, including:

In [26]:
#2-2) Create table with school names & school type
school_type_df = school_data_complete.groupby(['school_name'])['type'].agg(pd.Series.mode).to_frame()
school_type_df

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [27]:
#2-3) Create table with count of the total number of students
total_students = ["school_name","size"]
total_students
school_data_df.loc[:, total_students]
school_data_df.set_index("school_name",inplace=True)
school_data_df

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [28]:
#2-5) Create table with total budget per student
combined_df = pd.merge(school_type_df, school_data_df.loc[:, "size"], on="school_name")
combined_df

                           type  size
school_name
Bailey High School     District  4976
Cabrera High School     Charter  1858
Figueroa High School   District  2949
Ford High School       District  2739
Griffin High School     Charter  1468
Hernandez High School  District  4635
Holden High School      Charter   427
Huang High School      District  2917
Johnson High School    District  4761
Pena High School        Charter   962
Rodriguez High School  District  3999
Shelton High School     Charter  1761
Thomas High School      Charter  1635
Wilson High School      Charter  2283
Wright High School      Charter  1800

In [29]:
combined_df = pd.merge(combined_df, school_data_df.loc[:, "budget"], on="school_name")
combined_df

                           type  size   budget
school_name
Bailey High School     District  4976  3124928
Cabrera High School     Charter  1858  1081356
Figueroa High School   District  2949  1884411
Ford High School       District  2739  1763916
Griffin High School     Charter  1468   917500
Hernandez High School  District  4635  3022020
Holden High School      Charter   427   248087
Huang High School      District  2917  1910635
Johnson High School    District  4761  3094650
Pena High School        Charter   962   585858
Rodriguez High School  District  3999  2547363
Shelton High School     Charter  1761  1056600
Thomas High School      Charter  1635  1043130
Wilson High School      Charter  2283  1319574
Wright High School      Charter  1800  1049400

In [30]:
#2-5) Create table with total budget per student
combined_df["Budget Per Student"] = combined_df.loc[:, "budget"]/combined_df.loc[:, "size"]
combined_df

                           type  size   budget  Budget Per Student
school_name
Bailey High School     District  4976  3124928               628.0
Cabrera High School     Charter  1858  1081356               582.0
Figueroa High School   District  2949  1884411               639.0
Ford High School       District  2739  1763916               644.0
Griffin High School     Charter  1468   917500               625.0
Hernandez High School  District  4635  3022020               652.0
Holden High School      Charter   427   248087               581.0
Huang High School      District  2917  1910635               655.0
Johnson High School    District  4761  3094650               650.0
Pena High School        Charter   962   585858               609.0
Rodriguez High School  District  3999  2547363               637.0
Shelton High School     Charter  1761  1056600               600.0
Thomas High School      Charter  1635  1043130               638.0
Wilson High School      Charter  2283  1319574               578.0
Wright High School      Charter  1800  1049400               583.0

In [31]:
combined_df = pd.merge(combined_df, school_mean_df, on="school_name")
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score
school_name,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000

In [32]:
#2-6) Create a table with the average math score per student
math_avg_score = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").agg({"math_score":"count"})
math_avg_score                                                                                                    
math_avg_score_fin = (math_avg_score["math_score"]/combined_df["size"])*100
math_avg_score_fin
combined_df["math_pass_rate"]=math_avg_score_fin
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score,math_pass_rate
school_name,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333

In [33]:
#2-7) Create a table with the average reading score
read_avg_score = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").agg({"reading_score":"count"})
read_avg_score                                                                                                    
read_avg_score_fin = (read_avg_score["reading_score"]/combined_df["size"])*100
read_avg_score_fin
combined_df["read_pass_rate"]=read_avg_score_fin
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score,math_pass_rate,read_pass_rate
school_name,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111

In [34]:
# 2-8) % Passing Math
math_pass_rate = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby("school_name").agg({"math_score":"count"})
math_pass_rate 
math_pass_rate_fin = (math_pass_rate["math_score"]/combined_df["size"])*100
math_pass_rate_fin
combined_df["read_pass_rate"]=read_avg_score_fin
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score,math_pass_rate,read_pass_rate
school_name,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111

In [35]:
#2-9) & Passing Reading (The percentage of students that passed reading.)
read_pass_rate = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name").agg({"reading_score":"count"})
read_pass_rate                                                                                                    
read_pass_rate_fin = (read_pass_rate["reading_score"]/combined_df["size"])*100
read_pass_rate_fin
combined_df["read_pass_rate"]=read_pass_rate_fin
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score,math_pass_rate,read_pass_rate
school_name,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111

In [36]:
#2-10) % Passing Math AND Reading
read_math_avg_score = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name").agg({"reading_score":"count"})
read_math_avg_score                                                                                                    
read_math_avg_score_fin = (read_math_avg_score["reading_score"]/combined_df["size"])*100
read_math_avg_score_fin
combined_df["read_math_pass_rate"]=read_math_avg_score_fin
combined_df

,type,size,budget,Budget Per Student,average_math_score,average_reading_score,math_pass_rate,read_pass_rate,read_math_pass_rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## % Overall Passing (The percentage of students that passed math and reading.)
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [37]:
#***Section 2***
#Create dataframe to hold Summary Table #2 Section 2 Summary Table
summary_table_2 = pd.DataFrame({"School Type": school_type_df.loc[:, "type"],
                          #"Total Students": student_data_df.loc[:, "students"]
                          #"Total School Budget": [budgets]})
                          #"Per Student Budget": [combined_df],
                          #"Average Math Score": [math_avg],
                          #"Average Reading Score": [reading_avg],
                          #"% Passing Math": [math_pass_rate],
                          #"% Passing Reading": [read_pass_rate],
                          #"% Passing Math AND Reading": [read_math_avg_score_fin]})

                            

                        
summary_table_2

#Rename column headers                           
#renamed_data_df = school_data_complete.rename(columns={
#"school_name": "School Name",
#"school_type_df": "School Type",
#"total_students": "Total Students",
#"budget": "Total Budget",
#"math_avg"
#"reading_score": "Reading Score",
#"math_score": "Math Score",
#"student_name": "Student Name",
#"gender": "Gender",
#"grade": "Grade",
#"size": "Size"})
#renamed_data_df.head()

KeyError: 'students'

In [ ]:
#school_type_df.loc["school_type_df"]
school_type_df.loc[:, "students"]

In [ ]:
#formatting
school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

In [ ]:
#create a pandas series for each grade
freshmanR = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
sophmoreR = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
juniorR = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
seniorR = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean() readingscores_df = pd.DataFrame({"9th": freshmanR,
                              "10th": sophmoreR,
                              "11th": juniorR,
                              "12th": seniorR})
readingscores_df

In [ ]:
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

#format
reading_scores.style.format({'9th': '{:.6f}', 
                             "10th": '{:.6f}', 
                             "11th": "{:.6f}", 
                             "12th": "{:.6f}"})

In [ ]:

# create spending bins


bins = [0, 584, 629, 644, 675]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]

school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete.groupby('spending_bins')


avg_math = by_spending['math_score'].mean()

avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
    
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

scores_by_spend.index.name = "Per Student Budget"


#formating
scores_by_spend.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

In [ ]:

# create size bins
bins = [0, 1000, 1999,5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

#group by spending
by_size = school_data_complete.groupby('size_bins')

#calculations 
average_math_score = by_size['math_score'].mean()
average_reading_score = by_size['math_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    '% Overall Passing': overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

In [ ]:

# group by type of school
school_type = school_data_complete.groupby("type")

#calculations 
average_math_score = schoo_type['math_score'].mean()
average_reading_score = schoo_type['math_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100

# df build            
scores_schoo_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall})
    
#reorder columns
scores_schoo_type = scores_schoo_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing"
]]
scores_schoo_type.index.name = "Type of School"


#formating
scores_schoo_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

In [ ]:
#Rename column headers                           
renamed_data_df = school_data_complete.rename(columns={
"school_name": "School Name",
"school_type_df": "School Type",
"total_students": "Total Students",
"budget": "Total Budget",
"math_avg"
"reading_score": "Reading Score",
"math_score": "Math Score",
"student_name": "Student Name",
"gender": "Gender",
"grade": "Grade",
"size": "Size"})
renamed_data_df.head()
                        
summary_table_2